{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text float-right">
                    {% if starred %}
                        <a href="{% url 'cram:unstar_collection' collection.pk %}" class="btn btn-outline-danger btn-sm">Unstar</a>
                    {% else %}
                        <a href="{% url 'cram:star_collection' collection.pk %}" class="btn btn-outline-success btn-sm">Star</a>
                    {% endif %}
                </p>
                <h3>{{ collection.title }}</h3>
                <p class="card-text ">{{ collection.description }}</p>
                <div class="row" data-masonry='{"percentPosition": true }' >
                    {% for card in collection.cram_cards.all %}
                    <div class="card my-0 mx-0 col-md-5">
                        <div class="card-body">
                            <p class="my-0 "><strong>{{ card.concept }}</strong><br> {{ card.description }}</p>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        {% block sidebar %} {% include 'sidebars/cram_sidebar.html' %} {% endblock sidebar %}
    </div>
</div>

{% endblock content %}
