{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Cram - NiFeK{% endblock %}
{% block page_description %}{{ collection.title }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text float-right">
                    {% if starred %}
                        <a href="{% url 'cram:unstar_collection' collection.pk %}" class="btn btn-outline-danger btn-sm">Unstar</a>
                    {% else %}
                        <a href="{% url 'cram:star_collection' collection.pk %}" class="btn btn-outline-success btn-sm">Star</a>
                    {% endif %}
                </p>
                <h3>{{ collection.title }}</h3>
                <p class="card-text ">{{ collection.description }}</p>
                {% for card in collection.cram_cards.all|dictsort:"success_rate" reversed %}
                    {% widthratio card.success_rate 1 100 as success_width %}
                    <p class="my-0 "><strong>{{ card.concept }}</strong>: {{ card.description }}</p>
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ success_width }}%" aria-valuenow="{{ success_width }}" aria-valuemin="0" aria-valuemax="{{ success_width|add:100}}"></div>
                    </div>
                    <br>
                {% endfor %}
                {% if collection.owner == request.user %}
                    <form method="post" class="form-inline float-right" action="{% url 'cram:delete_collection' collection.pk %}">
                        {% csrf_token %}
                        <div class="d-flex justify-content-end">
                            <!-- These values need to match the ones in the RevisionStatus Enu-->
                            <button type="submit" class="btn mx-2 btn-outline-danger float-right my-2">Delete Collection containing {{ collection.cram_cards.count }} cards </button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
        {% block sidebar %} {% include 'sidebars/cram_sidebar.html' %} {% endblock sidebar %}
    </div>
</div>

{% endblock content %}
