{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 card mt-3 left  top">
            <div class="card-body my-1">
                <small><p class="float-right">{{ number_of_cards_to_process }} cards left</p></small>
                <h3>{{ user_card_score.card.concept }}</h3>
                <small>Deck: {{ user_card_score.card.collection.title }}</small>
                <form method="post" class="form-inline" action="{% url 'cram:submit_review' user_card_score.pk %}">
                    {% csrf_token %}
                    <div class="d-flex justify-content-end">
                        <!-- These values need to match the ones in the RevisionStatus Enu-->
                        <button type="submit" name="last_revision" value="0" class="btn mx-2 btn-danger float-right my-2">Again</button>
                        <button type="submit" name="last_revision" value="1" class="btn mx-2 btn-warning float-right my-2">Hard</button>
                        <button type="submit" name="last_revision" value="2" class="btn mx-2 btn-info float-right my-2">Normal</button>
                        <button type="submit" name="last_revision" value="3" class="btn mx-2 btn-success float-right my-2">Easy</button>
                    </div>
                </form>
                <small class="float-right">{{ user_card_score.card.description }}</small>
            </div>
        </div>
        {% block sidebar %} {% include 'sidebars/cram_sidebar.html' %} {% endblock sidebar %}
    </div>
</div>

{% endblock content %}
