asgiref==3.6.0
Brotli==1.0.9
dj-database-url==1.2.0
Django==4.2.3
django-crispy-forms==1.14.0
django-magiclink==1.2.0
gunicorn==20.1.0
packaging==20.9
psycopg2==2.9.6
psycopg2-binary==2.9.5
pyparsing==3.1.0
sqlparse==0.4.3
whitenoise==6.5.0
