{% block sidebar %}

<style>
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">Nifek</h5>
        <div class="card-body">
            <p class="card-text text-justify">
                Our goal is to build tools that smooth out the inefficiencies of many processes. <br>
                Which tool would you want to see built?
            </p>
        </div>
    </div>
</div>

{% endblock sidebar %}
