{% block sidebar %}

<style>
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">Nifek</h5>
        <div class="card-body">
            <small class="card-text text-left">
                Our goal is to build tools that smooth out the inefficiencies of many processes. <br><br>
                Do you have an improvement suggestion or feature you would like to see built? Make sure to leave us a <a href="https://github.com/migueltorrescosta/nifek/issues/new">GitHub Issue</a> 😊
            </small>
        </div>
    </div>
</div>

{% endblock sidebar %}
