{% block sidebar %}
{% load crispy_forms_tags %}

<style>
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">CRAM</h5>
        <div class="card-body">
            <small class="card-text">
                CRAM is a tool to help you learn, using the Spaced Repetition method.
                It allows you to create collections of cards with concepts you need to know.
            </small>
            <br><br>
            <a href="{% url 'cram:review' %}" class="btn btn-primary btn-sm float-right">Start revising</a>
        </div>
    </div>
    {% if create_card_form %}
        <div class="card my-4">
            <h5 class="card-header">Create a New Card</h5>
            <div class="card-body">
                <form class="mt-4" method="post" action="{% url 'cram:collection_detail' collection.pk %}">
                    {% csrf_token %}
                    {{ create_card_form | crispy }}
                    <button type="submit" class="btn btn-success float-right">Submit</button>
                </form>
            </div>
        </div>
    {% endif %}
    {% if create_collection_form %}
        <div class="card my-4">
            <h5 class="card-header">Create a new Collection</h5>
            <div class="card-body">
                <form class="mt-4" method="post" action="{% url 'cram:collections' %}">
                    {% csrf_token %}
                    {{ create_collection_form | crispy }}
                    <button type="submit" class="btn btn-success float-right">Submit</button>
                </form>
            </div>
        </div>
    {% endif %}
</div>

{% endblock sidebar %}
