{% load crispy_forms_tags %}
{% block sidebar %}

<style>
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">Hold</h5>
        <div class="card-body">
            <p class="card-text text-justify">
                This app keeps track of company ownership chains.
                <br>
                Which company should we track?
            </p>
        </div>
    </div>
    <div class="card my-4">
        <h5 class="card-header">See Also</h5>
        <div class="card-body">
            <p class="card-text text-justify">
                {% for e in entity_list %}
                    <a href="{% url 'hold:entity_detail' e.pk%}">{{ e.name }}</a>,
                {% endfor %}
            </p>
        </div>
    </div>
    <div class="card my-4">
        <h5 class="card-header">Add Data</h5>
        <div class="card-body">
            <form method="post" action="{% url 'hold:entity' %}">
                {% csrf_token %}
                {{ create_entity_form.name|as_crispy_field }}
                {{ create_entity_form.description|as_crispy_field }}    
                <button type="submit" class="btn btn-success float-right my-2">Add New Entity</button>
            </form>
            <hr>
        </div>
    </div>
</div>

{% endblock sidebar %}