{% block sidebar %}

<style>
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">Thes</h5>
        <div class="card-body">
            <p class="card-text text-justify">
                "Note" tracker for varying thoughts. Care to share your own?
                <br><br>
                <i><strong>TODO: </strong> Allow for tags to be added/removed by users</i>
            </p>
        </div>
    </div>
</div>

{% endblock sidebar %}