{% block sidebar %}

<style>
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">Thes</h5>
        <div class="card-body">
            <p class="card-text text-justify">
                A test of a given belief is it's judgement by a wider community.
                Which beliefs are you willing to write down?<br>
            </p>
        </div>
    </div>
</div>

{% endblock sidebar %}