{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 17px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>


<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <!-- List group -->
        <div class="list-group col-md-8 mt-3 left" id="myList" role="tablist">
            <div class="list-group-item list-group-item-action my-2" data-toggle="list" role="tab">
                <form action="{% url 'thes:home' %}" method="get">
                    <div class="form-group my-1 mx-1">
                        {% csrf_token %}
                        <input type="text" name="q" class="textinput textInput form-control" required="" id="id_name" placeholder="{% if q %}{{ q }}{% else %}Search all thesis...{% endif %}">
                    </div>
                </form>
            </div>
            {% for thesis in thesis_list %}
                <!-- <a class="list-group-item list-group-item-action" data-toggle="list" href="{% url 'thes:thesis_detail' thesis.pk  %}" role="tab"> -->
                <div class="list-group-item list-group-item-action" data-toggle="list" role="tab">
                    <div class="float-right">
                        <form action="{% url 'thes:tag_thesis' thesis.pk %}" method="post">
                            {% csrf_token %}
                            <div class="form-control-sm">
                                <input type="text" name="property" id="property" placeholder="Add New Tag" />
                            </div>
                        </form>
                    </div>
                    <p class="aligned-left small my-0 text-secondary">
                        <i>
                            {% for tag in tag_counts %}
                                {% if tag.thesis == thesis.pk %}
                                {{ tag.property__text }} ( {{ tag.count }} ),
                                {% endif %}
                            {% endfor %}
                        </i>
                    </p>
                    <small>🗓 {{ thesis.created_on|date:'l, m E Y'}}<br>{{ thesis.content|urlize }} </small>
                </div>
            {% endfor %}
            <div class="list-group-item list-group-item-action mt-2" data-toggle="list" role="tab">
                <italic>What other thoughts are we missing?</italic>
                <form class="mt-4" method="post" action="{% url 'thes:home' %}">
                    {% csrf_token %}
                    {{ create_thesis_form.content|as_crispy_field }}
                    <button type="submit" class="btn btn-success float-right">Submit Thesis</button>
                </form>
            </div>
        </div>
        <!--
        <div class="col-md-8 mt-3 left">
            {% for thesis in thesis_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ thesis.title }}</h2>
                    <p class="card-text aligned-left small">
                        by {{ thesis.author }} on {{ thesis.created_on}}
                    </p>
                    <p class="card-text">{{thesis.content|slice:":200" }}</p>
                    <div class="btn-group btn-group-sm mr-2" role="group" aria-label="First group">
                        {% for tag in thesis.tags.all %}
                        <button type="button" class="btn btn-secondary">{{ tag.property.text }}</button>
                        {% endfor %}
                    </div>
                    <p class="card-text aligned-left small">

                    </p>
                    <a href="{% url 'thes:thesis_detail' thesis.pk  %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
        -->
        {% block sidebar %}
            {% include 'sidebars/thes_sidebar.html' %}
        {% endblock sidebar %}
    </div>
</div>
{%endblock%}
