{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 17px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>


<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <!-- List group -->
        <div class="list-group col-md-8 mt-3 left" id="myList" role="tablist">
            {% for thesis in thesis_list %}
                <!-- <a class="list-group-item list-group-item-action" data-toggle="list" href="{% url 'thes:thesis_detail' thesis.pk  %}" role="tab"> -->
                <a class="list-group-item list-group-item-action" data-toggle="list" role="tab">
                    <p class="aligned-left small mb-0 text-secondary">
                        {{ thesis.author }}  |  {{ thesis.created_on}}
                        <div class="btn-group btn-group-sm mr-2 float-right" role="group" aria-label="First group">
                            {% for tag in thesis.tags.all %}
                                <button type="button" class="btn btn-secondary">{{ tag.property.text }}</button>
                            {% endfor %}
                        </div>
                    </p>
                    <small>{{ thesis.content|urlize }}</small>
                    <br>
                </a>
            {% endfor %}
            <form method="post" action="{% url 'thes:home' %}">
                {% csrf_token %}
                {{ create_thesis_form.content|as_crispy_field }}
                <button type="submit" class="btn btn-success float-right">Submit new Thesis</button>
            </form>
        </div>
        <!--
        <div class="col-md-8 mt-3 left">
            {% for thesis in thesis_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ thesis.title }}</h2>
                    <p class="card-text aligned-left small">
                        by {{ thesis.author }} on {{ thesis.created_on}}
                    </p>
                    <p class="card-text">{{thesis.content|slice:":200" }}</p>
                    <div class="btn-group btn-group-sm mr-2" role="group" aria-label="First group">
                        {% for tag in thesis.tags.all %}
                        <button type="button" class="btn btn-secondary">{{ tag.property.text }}</button>
                        {% endfor %}
                    </div>
                    <p class="card-text aligned-left small">

                    </p>
                    <a href="{% url 'thes:thesis_detail' thesis.pk  %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
        -->
        {% block sidebar %}
            {% include 'sidebars/thes_sidebar.html' %}
        {% endblock sidebar %}
    </div>
</div>
{%endblock%}
