{% extends 'base.html' %}

{% block title %}Thes - NiFeK{% endblock %}
{% block page_description %}{{ object.content }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class=" text-muted">{{ thesis.author }} | {{ thesis.created_on }}</p>
                <p class="card-text ">{{ object.content | safe }}</p>
            </div>
        </div>
        {% block sidebar %} {% include 'sidebars/base_sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{% endblock content %}
