{% extends "base.html" %}
{% block content %}

<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>


<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 left">
            <p class="card-text">Experimental stop for small apps</p>
            {% for app in apps %}
                <div class="card mb-4">
                    <div class="card-body">
                        <a href="{{ app.url }}" class="card-text">
                            {{ app.title }}
                        </a>
                        <p class="card-text aligned-left small">
                            {{ app.description }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'sidebars/base_sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{%endblock%}
