{% extends "base.html" %}
{% block page_title %}Home{% endblock page_title %}
{% block content %}

<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>


<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 left">
            <div class="card mb-4">
                <div class="card-body">
                    <p class="card-text">App focused on the tracking and evolution of support for different thesis over time</p>
                    <div class="btn-group btn-group-sm mr-2" role="group" aria-label="First group">
                        {% for tag in thes_tags %}
                            <button type="button" class="btn btn-secondary">{{ tag }}</button>
                        {% endfor %}
                    </div>
                    <p class="card-text aligned-left small">
                        Hello
                    </p>
                    <a href="{% url 'thes:thes' %}" class="btn btn-primary">Thes &rarr;</a>
                </div>
            </div>
        </div>
        {% block sidebar %} {% include 'sidebars/base_sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{%endblock%}